<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Package Name="what-rs" Language="1033" Version="0.2.3" Manufacturer="Jannik Gohr"
	UpgradeCode="A2D80FC7-3719-4D01-AC87-61AE9DA97AB8" Scope="perUser">

		<MediaTemplate EmbedCab="yes" />

		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="what_rs_component" Guid="142A1E0C-DD0C-4D6D-BBAA-769168DE8DD8">
				<File Id="what_rs_exe" Source="$(var.EXE_FILE_PATH)" KeyPath="yes" />
				<Environment Id="PathUpdate" Name="PATH" Value="[INSTALLFOLDER]" Permanent="no" Part="last" Action="set" />
			</Component>
		</ComponentGroup>

		<Feature Id="ProductFeature" Title="what-rs" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

		<StandardDirectory Id="LocalAppDataFolder">
			<Directory Id="ProgramsFolder" Name="Programs">
				<Directory Id="INSTALLFOLDER" Name="what-rs" />
			</Directory>
		</StandardDirectory>
	</Package>
</Wix>
